body{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #fff;
}

.main{
	background: url('../background.jpg') no-repeat;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.title{
	text-transform: uppercase;
	text-align: center;
	font-size: 6em;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	margin-top: 50px;
}

.login-option, .register-option{
	background-color: rgba(153, 204, 255, 0.8);
	width: 300px;
	display: inline-block;
	margin-top: 75px;
	padding: 100px 0;
	color: #fff;
	font-size: 3em;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	position: absolute;
}

.login-option{
	left: 20%;
}

.register-option{
	right: 20%;
}

.login-form-container{
	background-color: rgba(153, 204, 255, 0.8);
	width: 300px;
	height: 300px;
	position: absolute;
	right: 150px;
	bottom: 100px;
}

.login-form-container form{
	margin: 25px 25px;
	color: #fff;
}

.login-form-container .label-form{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}

.login-form-container form input[type='text'], .login-form-container form input[type='password']{
	line-height: 2em;
	width: 100%;
	margin-bottom: 10px;
}

input[type='submit'], .profile a input[type='button']{
	color: #fff;
	background-color: rgba(153, 204, 255, 1);
	width: 100%;
	line-height: 30px;
	border: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5em;
	margin-top: 20px;
	padding: 5px;
}

.profile a input[type='button']{
	width: 10%;
	border-radius: 5px;
}

input[type='submit']:hover, .profile a input[type='button']:hover{
	color: rgba(153, 204, 255, 1);
	background-color: #fff;
}