body{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #fff;
}

.main{
	background: url('../background.jpg') no-repeat;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.title{
	text-transform: uppercase;
	text-align: center;
	font-size: 6em;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	margin-top: 50px;
}

.login-option, .register-option{
	background-color: rgba(153, 204, 255, 0.8);
	width: 300px;
	display: inline-block;
	margin-top: 75px;
	padding: 100px 0;
	color: #fff;
	font-size: 3em;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	position: absolute;
}

.login-option{
	left: 20%;
}

.register-option{
	right: 20%;
}

.login-form-container{
	background-color: rgba(153, 204, 255, 0.8);
	width: 300px;
	height: 300px;
	position: absolute;
	right: 150px;
	bottom: 100px;
}

.login-form-container form{
	margin: 25px 25px;
	color: #fff;
}

.login-form-container .label-form{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}

.label-form{
	text-align: center;
}

input[type='text'], .login-form-container form input[type='text'], .login-form-container form input[type='password']{
	line-height: 2em;
	width: 100%;
	margin-bottom: 10px;
}


input[type='submit'], .profile a input[type='button']{
	color: #fff;
	background-color: rgba(153, 204, 255, 1);
	width: 100%;
	line-height: 30px;
	border: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5em;
	margin-top: 20px;
	padding: 5px;
}

.profile a input[type='button']{
	width: 10%;
	border-radius: 5px;
}

input[type='submit']:hover, .profile a input[type='button']:hover{
	color: rgba(153, 204, 255, 1);
	background-color: #fff;
}

.header{
	height: 15%;
	width: 100%;
	background-color: #000;
	position: fixed;
	z-index: 2;
}

.header-title{
	width: auto;
	padding: 35px;
	font-size: 1.5em;
}

.header .profile{
	right: 10px;
	top: 5px;
	position: absolute;
}

.header .profile h2 a input[type='button'], .insert-new a input{
	width: auto;
	font-size: 1em;
	padding: 10px;
	margin: 0;
	display: inline-block;
}

.crud-container{
	border: 1px solid white;
	margin: 150px 50px 0;
	height: auto;
	background-color: rgba(153, 204, 255, 0.7);
	border-radius: 10px;
}

.container{
	margin: 30px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    color: #000;
}

th, td{
	padding: 0 15px;
}

.crud-container .content table{
	text-align: center;
	margin: 30px auto;
}

.crud-container .content table th{
	text-align: center;
	padding: 0 30px;
}

.insert-new{
	margin-top: 20px;
	margin-left: 20px;
}